/*form {
    margin-top: 50%;
    input {
        width: 150px;
    }
    button {
        margin-top: 15px;
    }
}*/
.darkmode {
    background-color: #212529;
    color: #efefef;
}
.lightmode {
    background-color: #efefef;
    color: #212529;
}
h1 {
    text-align: center;
}
#card-div {
    margin-bottom: 10px;
}
.titlebar {
    color: black;
    background-image: var(--bs-gradient);
    background-color: lightgray;
}
#buttons_div {
    text-align: center;
}

.card {
    background-image: var(--bs-gradient);
}
* {
    font-family: 'Ubuntu';
}